<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Basic Page Information -->
    <title>Template</title>
    <meta name="description" content="This is a Template Page">
    <link rel="icon" type="image/png" href="assets/images/misc.svg">

    <base href="../../">

    <!-- Open Graph Data -->
    <meta property="og:title" content="Template">
    <meta property="og:type" content="website">
    <meta property="og:image" content="assets/images/misc.png">
    <meta property="og:url" content="blobs.ca">
    <meta property="og:description" content="This is a Template Page">

    <!-- Importing Import-ant Things -->
    <link rel="stylesheet" href="assets/styles/normalize.css"> <!-- https://necolas.github.io/normalize.css/ -->
    <link rel="stylesheet" href="assets/styles/style.css">

    <!-- Apparently This is Good to Have -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style media="screen">
      body {
        font-size: 1.25em;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <h1>Header</h1>
      <p>Paragraph</p>
    </div>
  </body>
</html>
